body {
    background-color: #0D0D0D;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de búsqueda */
.search-container {
    margin: 10px auto;
    text-align: center;
    position: fixed;
    top: 20px; 
    left: 70%;
    transform: translateX(-10%); 
    z-index: 9;
    transition: background-color 0.3s; 
}

#course-search {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s; 
}

#course-search:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #fff; 
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.course-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-left: 250px; 
}

.section-title {
    text-align: center; 
    width: 100%; 
    color: #fff;
    margin: 30px 0px;
}

.course {
    background-color: #333;
    color: #dadada; 
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.course:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    background-color: #f38212; 
    color: #f3f3f3; 
}

.course img {
    max-width: 100%;
    height: auto;
}

.course h2 {
    font-size: 18px;
    margin-top: 10px;
}

.course p {
    font-size: 14px;
    margin-top: 5px;
}

.course-price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff; 
    position: relative;
    transition: font-size 0.2s ease; 
}

.course-price:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #ffffff; 
}

.course:hover .course-price {
    font-size: 20px; 
}